<% @page_title = t("account.enter_email")  %>

<div class="panel panel--centered flex flex-column gap-half">
  <h1 class="txt-x-large font-weight-black margin-block-end"><%= t("app.welcome") %></h1>

  <%= form_with url: session_path, class: "flex flex-column gap-half txt-medium" do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.email_field :email_address, required: true, class: "input txt-large full-width", autofocus: true, autocomplete: "username", placeholder:  t("account.enter_email") %>
      </label>
    </div>

    <p><strong>New here?</strong> <%= link_to t("account.signup"), new_signup_path %> to create an account. <%= t("account.already_have_account") %></p>

    <button type="submit" id="log_in" class="btn btn--link center txt-medium">
      <span><%= t("account.login") %></span>
      <%= icon_tag "arrow-right" %>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
