<%= collapsible_nav_section t('menu.settings') do %>
  <%= filter_place_menu_item account_settings_path, t('menu.title'), "settings" %>
  <%= filter_place_menu_item user_path(Current.user), t('menu.profile'), "person" %>
  <%= filter_place_menu_item notifications_path, t('menu.all_notifications'), "bell" %>
  <%= filter_place_menu_item notifications_settings_path, t('menu.notification_settings'), "settings" %>

  <%= tag.li class: "popup__item", data: { filter_target: "item", navigable_list_target: "item" } do %>
    <%= icon_tag "logout", class: "popup__icon" %>
    <%= button_to session_url(script_name: nil), method: :delete, class: "popup__btn btn", data: { turbo: false } do %>
      <span><%= t('menu.sign_out') %></span>
    <% end %>
  <% end %>
<% end %>
